@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.table-container {
    width: 100%;
    overflow-x: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.style-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 20px auto;
    table-layout: fixed; /* Use fixed layout */
}

.style-table thead {
    background-color: #5d0b16;
    color: white;
}

.style-table th,
.style-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word; /* Ensure words break correctly */
    word-break: break-word; /* Break words when necessary */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    white-space: normal; /* Allow text to wrap */
    overflow: hidden; /* Hide overflowing content */
    height: auto; /* Ensure height is auto */
}

.style-table th {
    background-color: #691B31;
    color: white;
}

.style-table th:nth-child(1),
.style-table td:nth-child(1),
.style-table th:nth-child(2),
.style-table td:nth-child(2) {
    width: 20%; /* Set width for name and description columns */
}

.style-table th:nth-child(3),
.style-table td:nth-child(3),
.style-table th:nth-child(4),
.style-table td:nth-child(4) {
    width: 15%; /* Set width for quantity and inventory number columns */
}

.style-table th:nth-child(5),
.style-table td:nth-child(5) {
    width: 20%; /* Set width for photos column */
}

.style-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.photo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.style-table tbody tr:hover {
    background-color: #ddd;
}

@media (max-width: 768px) {
    .style-table {
        width: 100%;
    }

    .style-table th,
    .style-table td {
        font-size: 12px;
    }
}
