/* bills.css */

.bills-container {
    text-align: center;
    padding: 20px;
    background-color: #e0f7fa;
  }
  
  .bills-title {
    font-size: 24px;
    color: #333;
  }
  
  .bills-search {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .bills-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .bills-table th, .bills-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Centrar el texto */
  }
  
  .bills-table th {
    background-color: #691B31;
    color: white;
  }
  
  .bills-table td {
    white-space: nowrap; /* Evitar que el contenido se rompa en varias líneas */
  }
  
  .bills-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .bills-table tr:hover {
    background-color: #ddd;
  }
  
  .bills-footer {
    color: #777;
    font-size: 14px;
  }
 