body {
    background-color: #2D2D2D;
    color: #D3D3D3;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #D3D3D3;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #D3D3D3;
}

th {
    background-color: #3E3E3E;
}

tr:nth-child(even) {
    background-color: #3E3E3E;
}