/* Estilo para el contenedor principal */
.shopping-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at 21.439689257597784% 57.578968897220875%, hsla(174.3661971830986, 87.65432098765432%, 52.352941176470594%, 1) 0%, hsla(174.3661971830986, 87.65432098765432%, 52.352941176470594%, 0) 100%), radial-gradient(at 87.03032058357134% 57.77345312746165%, hsla(325.4237288135593, 100%, 46.27450980392157%, 1) 0%, hsla(325.4237288135593, 100%, 46.27450980392157%, 0) 100%), radial-gradient(at 82.81999650063128% 27.674369369728712%, hsla(84.22535211267606, 87.65432098765432%, 52.352941176470594%, 1) 0%, hsla(84.22535211267606, 87.65432098765432%, 52.352941176470594%, 0) 100%);
  background-size: cover;
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-attachment: fixed; /* Hace que la imagen de fondo permanezca fija en su lugar */
  background-position: center;
  text-align: center;
  padding: 20px; /* Espaciado interno */
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Estilo para las filas */
.shopping-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

/* Estilo para las tarjetas (cards) */
.shopping-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  margin: 10px;
  background-color: #ffffffe0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 50px;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.shopping-cards {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 635px;
  height: 150px;
  margin: 10px;
  background-color: #ffffffe0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px;
  border-radius: 50px;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Estilo para el contenido de las tarjetas */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-card-left {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.shopping-card-right {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Animación al pasar el ratón sobre las tarjetas */
.shopping-card:hover,.shopping-cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.shopping-card h1, .shopping-cards h1 {
  color: #253238;
  font-size: 1.5rem;
  margin: 10px 0 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/* Media Queries para versión móvil */
@media (max-width: 768px) {
  .shopping-row {
    flex-direction: column;
    align-items: center;
  }

  .shopping-card {
    width: 80%;
    max-width: none;
    height: auto;
    margin: 10px 0;
    border-radius: 15px;
  }

  .shopping-card-left,
  .shopping-card-right {
    border-radius: 15px;
  }

  .shopping-card h1 {
    font-size: 1.2rem;
  }
}
