@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo para el contenedor principal */

.main-container2 {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Ancho en pantallas más pequeñas */
@media (max-width: 768px) {
  .main-container2 {
    width: 100%; /* Reduce el ancho en pantallas pequeñas */
  }
  
}
@media (max-width: 768px) {
  .dropzone {
    max-width: 100%; /* Asegura que ocupe el 100% en pantallas pequeñas */
  }

  .file-item {
    flex-direction: column; /* Coloca la imagen y el texto en columnas */
    align-items: center; /* Centra los elementos */
    max-width: 100%; /* Asegura que no se desborde en pantallas pequeñas */
  }

  .file-item span {
    text-align: center; /* Centra el texto */
  }
}
.crear{
  display: inline-block; /* Para que se comporte como un botón */
  background-color:#691B31 ; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centrar el texto */
  text-decoration: none; /* Quitar subrayado */
  font-family: 'Poppins', sans-serif; /* Fuente */
  font-weight: 300; /* Grosor de la fuente */
  margin-top:20px;
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones para hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}
.crear:hover {
  background-color: #ae254c; /* Color de fondo al hacer hover */
  transform: scale(1.05); /* Efecto de agrandamiento al hacer hover */
}
.h2e{
  text-align: center;
}
/* Estilos para el formulario */
.article-form {
  background-color: rgba(255, 255, 255, 0.449);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  border: 1px solid rgba(221, 221, 221, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar elementos */
  animation: fadeIn 1s ease-in;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Grid para organizar el formulario en tres columnas */
.form-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 20px;
  transition: grid-template-columns 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;

  width: 100%; /* Asegura que el grid ocupe el 100% del contenedor */
}

@media (max-width: 768px) {
  .form-grid2 {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
  .qr-container {
    margin-left: 0;
    margin-top: 20px; /* Añade margen superior para separación */
  }
}

/* Estilos para los grupos de formularios */
.form-group2 {
  display: flex;
  flex-direction: column;
  animation: slideIn 0.5s ease-out;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group2 label {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 5px;
  color: #333;
  transition: color 0.3s ease;
}

.form-group2 input[name="name"],
.form-group2 input[name="brand"],
.form-group2 input[name="model"],
.form-group2 input[name="acquisition_date"],
.form-group2 input[name="number_series"],
.form-group2 select[name="status"],
.form-group2 select[name="type"],
.form-group2 select[name="userful_live_id"],
.form-group2 select[name="policy_id"],
.form-group2 select[name="bill_id"],
.form-group2 textarea[name="description"],
.form-group2 textarea[name="caracteristics"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.form-group2 input[name="name"]:focus,
.form-group2 input[name="brand"]:focus,
.form-group2 input[name="model"]:focus,
.form-group2 input[name="acquisition_date"]:focus,
.form-group2 input[name="number_series"]:focus,
.form-group2 select[name="status"]:focus,
.form-group2 select[name="type"]:focus,
.form-group2 select[name="userful_live_id"]:focus,
.form-group2 select[name="policy_id"]:focus,
.form-group2 select[name="bill_id"]:focus,
.form-group2 textarea[name="description"]:focus,
.form-group2 textarea[name="caracteristics"]:focus {
  border-color: #e63946;
  box-shadow: 0 0 5px rgba(230, 57, 70, 0.5);
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  transform: scale(1.02);
}

.submit-button {
  background-color: #691b31;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  background-color: #bc955b;
  transform: scale(1.01);
}

.form-group2 input[name="file"] {
  padding: 5px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: background-color 0.3s ease;
}

.form-group2 textarea[name="description"],
.form-group2 textarea[name="caracteristics"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  height: 40px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.form-group2 textarea[name="description"]:focus,
.form-group2 textarea[name="caracteristics"]:focus {
  border-color: #e63946;
  box-shadow: 0 0 5px rgba(230, 57, 70, 0.5);
  outline: none;
  transform: scale(1.02);
}

.form-group2 textarea[name="description"]:hover,
.form-group2 textarea[name="caracteristics"]:hover {
  box-shadow: 0 0 10px rgba(230, 57, 70, 0.5);
  transform: translateX(5px);
}

/* Estilos para el contenedor de la zona de carga y el código QR */
.dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%; /* Asegura que el contenedor ocupe el 100% */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dropzone {
  border: 2px dashed #c31010;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  width: 313%; /* Asegura que la dropzone ocupe el 100% */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dropzone:hover {
  border-color: #e63946;
}

.files-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.file-item span {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333;
}

.file-item button {
  background-color: #e63946;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-item button:hover {
  background-color: #bc955b;
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; /* Asegura que el QR esté a la derecha */
  margin-right: auto; /* Centra el QR horizontalmente */
  margin-top: 20px; /* Espacio superior para separación */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
