.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .main-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.493); /* Fondo semi-transparente */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .button {
    text-decoration: none;
    color: #333;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card .icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .card span {
    display: block;
    font-size: 1.2rem;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  