/* Estilo para el contenedor principal */
.documentacion-container {
  text-align: center;
  background-image: radial-gradient(at 64.85431921869835% 55.07958595820899%, hsla(36.069364161849705, 92.51336898395725%, 63.33333333333333%, 1) 0%, hsla(36.069364161849705, 92.51336898395725%, 63.33333333333333%, 0) 100%), radial-gradient(at 25.615661877272068% 11.005248897432462%, hsla(189.32270916334662, 100%, 49.2156862745098%, 1) 0%, hsla(189.32270916334662, 100%, 49.2156862745098%, 0) 100%), radial-gradient(at 44.37203638223155% 82.30227351388176%, hsla(305.8959537572254, 92.51336898395725%, 63.33333333333333%, 1) 0%, hsla(305.8959537572254, 92.51336898395725%, 63.33333333333333%, 0) 100%), radial-gradient(at 20.396933516900106% 66.48911333972742%, hsla(36.069364161849705, 92.51336898395725%, 63.33333333333333%, 1) 0%, hsla(36.069364161849705, 92.51336898395725%, 63.33333333333333%, 0) 100%), radial-gradient(at 17.634328040228308% 4.154522016825335%, hsla(189.32270916334662, 100%, 49.2156862745098%, 1) 0%, hsla(189.32270916334662, 100%, 49.2156862745098%, 0) 100%), radial-gradient(at 65.18667050618112% 63.31308748048219%, hsla(305.8959537572254, 92.51336898395725%, 63.33333333333333%, 1) 0%, hsla(305.8959537572254, 92.51336898395725%, 63.33333333333333%, 0) 100%), radial-gradient(at 92.50054658776345% 2.628455630859383%, hsla(36.069364161849705, 92.51336898395725%, 63.33333333333333%, 1) 0%, hsla(36.069364161849705, 92.51336898395725%, 63.33333333333333%, 0) 100%), radial-gradient(at 72.53767082120501% 63.54364312163807%, hsla(189.32270916334662, 100%, 49.2156862745098%, 1) 0%, hsla(189.32270916334662, 100%, 49.2156862745098%, 0) 100%), radial-gradient(at 21.241352167248916% 66.52704746348408%, hsla(305.8959537572254, 92.51336898395725%, 63.33333333333333%, 1) 0%, hsla(305.8959537572254, 92.51336898395725%, 63.33333333333333%, 0) 100%);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado h1 */
.h1-documentatio {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Estilo para las columnas */
.documentacion-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
  gap: 10px; /* Espacio entre las columnas */
  width: 100%;
  max-width: 1465px; /* Ancho máximo para las columnas */
  flex-wrap: wrap; /* Permite que las columnas se envuelvan para mejor responsividad */
  margin: 0 auto; /* Asegura que las columnas estén centradas */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Estilo para cada columna */
.documentacion-column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre las tarjetas dentro de una columna */
  flex: 1;
  min-width: 300px; /* Ancho mínimo para las columnas */
  max-width: 300px; /* Ancho máximo de las columnas */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Estilo para la columna izquierda */
.documentacion-column-left .documentacion-card {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Estilo para la columna derecha */
.documentacion-column-right .documentacion-card {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.documentacion-column-center .documentacion-card {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}



/* Estilo para las tarjetas (cards) */
.documentacion-card {
  text-decoration: none; /* Quita la decoración de enlace */
  display: flex;
  flex: 1;
  max-width: 300px; /* Ancho máximo de las tarjetas */
  height: 200px; /* Altura fija de las tarjetas */
  margin: 10px; /* Margen para separar las tarjetas */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.documentacion-card .icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.documentacion-card span {
  display: block;
  font-size: 1.2rem;
}

.documentacion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo para los títulos de las tarjetas */
.h1-mini {
  color: #253238;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}
/* Media Queries para versión móvil */
@media (max-width: 768px) {
  .documentacion-columns {
    flex-direction: column;
    align-items: center;
  }

  .documentacion-column {
    max-width: 80%;
    margin: 0 auto;
  }

  .documentacion-card {
    width: 80%;
    max-width: none;
    height: auto;
    margin: 10px 0;
    border-radius: 15px;
  }

  .documentacion-column-left .documentacion-card,
  .documentacion-column-right .documentacion-card {
    border-radius: 15px;
  }

  .h1-documentatio {
    font-size: 2rem;
  }

  .h1-mini {
    font-size: 1.5rem;
  }
}
