
/* Footer Styles */
.footer {
    background: linear-gradient(90deg, #691B31, #1d070d);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    animation: slideIn 1s ease-out;
    border-top: 20px solid #BC955B;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .footer a {
    color: #f8f9fa;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer a:hover {
    color: #e0e0e0;
  }
  
  .footer-logos {
    margin-top: 10px;
  }
  
  .footer-logos img {
    width: 100px;
    margin: 0 15px;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  