@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.table-container {
  width: 95%; /* Reducir el ancho del contenedor */
  margin: 20px auto; /* Centrar el contenedor horizontalmente */
  overflow-x: auto; /* Permite el scroll horizontal */
}

.article-table {
  width: 100%;
  min-width: 1000px; /* Asegura que la tabla tenga un ancho mínimo */
  border-collapse: collapse;
  font-size: 14px; /* Ajustar tamaño de la fuente para reducir la tabla */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  table-layout: auto; /* Dejar que las celdas ajusten su tamaño automáticamente */
}

.article-table th, .article-table td {
  padding: 5px 8px; /* Reducir el padding para ajustar mejor */
  border: 1px solid #ddd; /* Añadir borde a las celdas */
  font-size: 14px; /* Tamaño de fuente consistente para todos los textos */
  word-wrap: break-word; /* Permitir que el texto se ajuste dentro de las celdas */
}

.article-table th {
  background-color: #691B31; /* Color de fondo según la referencia */
  color: white; /* Color del texto del encabezado */
  cursor: pointer;
  text-align: center; /* Centrar texto del encabezado */
  font-weight: 600; /* Aumentar el peso de la fuente para el encabezado */
  font-size: 14px; /* Reducir el tamaño de la fuente del encabezado */
}

.article-table tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.article-table tr:hover {
  background-color: #f1f1f1;
}

.ver-mas-button {
  background-color: #691B31;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.ver-mas-button:hover {
  background-color: #BC955B;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Responsividad */
@media (max-width: 768px) {
  .article-table {
    font-size: 12px; /* Reducir el tamaño de fuente en pantallas pequeñas */
  }

  .article-table th, .article-table td {
    padding: 4px; /* Reducir el padding en pantallas pequeñas */
    font-size: 12px; /* Reducir aún más el tamaño de la fuente en pantallas pequeñas */
  }
}

.qr-codes{
  width: 240px;
  height: 50px;
  transition: transform 0.3s ease;
}

.search-input{
  display: inline-block; /* Para que se comporte como un botón */

  width: 300px;
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 50px; /* Bordes redondeados */
 
  text-decoration: none; /* Quitar subrayado */
  font-family: 'Poppins', sans-serif; /* Fuente */
  font-weight: 300; /* Grosor de la fuente */
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones para hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}


/*Estilos para el modal*/
.modal-gr {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border: none;
  width: 80%;
  max-width: 800px;
  border-radius: 20px;
  position: relative;
  z-index: 1050;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: modalFadeIn 0.5s ease-in-out;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay-gr {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: overlayFadeIn 0.5s ease-in-out;
}

@keyframes overlayFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-button-gr {
  border: none;
  background: none;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

.close-button-gr:hover {
  color: black;
}

.modal-header-gr {
  background-color: #691B31;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px 20px 0 0;
}

.qr-code {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.qr-code:hover {
  transform: scale(1.2);
}

.modal-content-gr {
  text-align: center;
  padding-top: 10px;
}

.modal-body-gr {
  text-align: center;
  padding: 20px;
}

.carousel-container-gr {
  position: relative;
  width: 100%;
  right: -5px;
  overflow: hidden;
}

.carousel-gr {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: transform  0.5s ease;
}

.carousel-slide-gr {
  min-width: 100%;
  height: 200px;
  flex-shrink: 0;
}

.carousel-photo-gr {
  width: 50%;
  height: 300px;
  margin-top: -10px;
  
  transition: transform 0.3s ease;
  
}

.carousel-photo-gr:hover {
  transform: scale(1.1);
}

.carousel-prev-gr, .carousel-next-gr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
  border-radius: 50%;
}

.carousel-prev-gr {
  left: 10px;
}

.carousel-next-gr {
  right: 10px;
}

/* Fullscreen overlay for images */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 1100;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
