@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.table-container {
  width: 95%; /* Reducir el ancho del contenedor */
  margin: 20px auto; /* Centrar el contenedor horizontalmente */
  overflow-x: auto; /* Permite el scroll horizontal */
}

.article-table {
  width: 100%;
  min-width: 1000px; /* Asegura que la tabla tenga un ancho mínimo */
  border-collapse: collapse;
  font-size: 14px; /* Ajustar tamaño de la fuente para reducir la tabla */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  table-layout: auto; /* Dejar que las celdas ajusten su tamaño automáticamente */
}

.article-table th, .article-table td {
  padding: 5px 8px; /* Reducir el padding para ajustar mejor */
  border: 1px solid #ddd; /* Añadir borde a las celdas */
  font-size: 14px; /* Tamaño de fuente consistente para todos los textos */
  word-wrap: break-word; /* Permitir que el texto se ajuste dentro de las celdas */
}

.article-table th {
  background-color: #691B31; /* Color de fondo según la referencia */
  color: white; /* Color del texto del encabezado */
  cursor: pointer;
  text-align: center; /* Centrar texto del encabezado */
  font-weight: 600; /* Aumentar el peso de la fuente para el encabezado */
  font-size: 14px; /* Reducir el tamaño de la fuente del encabezado */
}

.article-table tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.article-table tr:hover {
  background-color: #f1f1f1;
}

.ver-mas-button {
  background-color: #691B31;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.ver-mas-button:hover {
  background-color: #BC955B;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Responsividad */
@media (max-width: 768px) {
  .article-table {
    font-size: 12px; /* Reducir el tamaño de fuente en pantallas pequeñas */
  }

  .article-table th, .article-table td {
    padding: 4px; /* Reducir el padding en pantallas pequeñas */
    font-size: 12px; /* Reducir aún más el tamaño de la fuente en pantallas pequeñas */
  }
}





.modal {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  z-index: 1050;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close-button {
  border: none;
  background: none;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  float: right;
}

.close-button:hover {
  color: black;
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
}

.modal-body {
  text-align: center;
}

.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-photo {
  width: 100%;
  height: auto;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.qr-codes{
  width: 240px;
  height: 50px;
  transition: transform 0.3s ease;
}