@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.article-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
}

.article-table th, .article-table td {
  padding: 12px 15px;
}

.article-table th {
  cursor: pointer;
  background-color: #f2f2f2;
}

.article-table tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.article-table tr:hover {
  background-color: #f1f1f1;
}
