@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
/* font-family: "Bebas Neue", sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.invent {
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-family:monospace;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.header-paragraph{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header-top1 {
  display: flex;
  height: 45px;
  justify-content: flex-end; /* Ajustado para alinear a la derecha */
  align-items:flex-end;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  flex-direction: column;
}
.header-top2 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Ajustado para centrar correctamente */
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;

  position: relative;
}
.header-top3{
 height: 1px; 
}
.logo-empresa{
  width: 200px;
}
.logo-empresa-nav1{
  width: 200px;
}
.close:hover{
  color: red;
}
nav a:hover{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #691B31;
}
nav a i:hover {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #691B31; /* Ajustado para usar la variable de color */
  margin-right: 8px;
}
nav {
  background: linear-gradient(90deg, #691B31, #691B31, #441220);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Ajustado para centrar correctamente */
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  position: relative;
}

.header-logo {
  width: 150px;
  height: 75px;
}

.header-bottom {
  background: linear-gradient(to right, white, #BC955B);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

.links-container {
  display: flex;
  justify-content: center; /* Centra los enlaces horizontalmente */
  align-items: center;
  height: 20px;
  padding-bottom:19px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;  
}

nav a {
  color: black; /* Ajustado para usar la variable de color */
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

nav a i {
  color: black; /* Ajustado para usar la variable de color */
  margin-right: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}



#sidebar-active {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.logo p {
  font-size: 0.8rem;
  margin: 0;
  color: #ccc;
}


/* Estilo para la información del usuario */
.user-info {
  z-index: 1;
  display: none; /* Ocultar por defecto */
  align-items: center;
  background: linear-gradient(90deg, #FAF2C9, #BC955B);
  padding: 10px 20px;
  margin: -60px 0; /* Agrega margen superior e inferior */
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #253238;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid black;
}

.user-name {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-role {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
  color: #253238;
}

.profile-button {
  background-color: #7E1D37;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #5b1528;
}

.user-info-nav1 {
  z-index: 1;
  display: none; /* Ocultar por defecto */
  align-items: center;
  background: linear-gradient(90deg, #FAF2C9, #BC955B);
  padding: 10px 20px;
  margin: -60px 0; /* Agrega margen superior e inferior */
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #253238;
}

.user-info-nav1 .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid black;
}

.user-info-nav1 .user-name {
  font-size: 10px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info-nav1 .user-role {
  font-size: 8px;
  font-weight: 300;
  margin: 0;
  color: #253238;
}

.user-info-nav1 .profile-button {
  background-color: #7E1D37;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: 80px;
  font-size: 0.8rem;
  cursor: pointer;
}

.user-info-nav1 .profile-button:hover {
  background-color: #5b1528;
}


@media (min-width: 1001px) {
  .user-info {
    display: flex;
  }
  .user-info-nav1 {
    display: none;
  }
  .logo-empresa-nav1{
    display: none;
  }
}
@media (max-width: 1000px) {
  .user-info {
    display: none;
  }
  .user-info-nav1 {
    display: flex;
    margin-left: 20px;
    margin-bottom: 250px;
    width: 250px;
    height: 200px;
  }
  .logo-empresa-nav1{
    display: flex;
    margin-left: 20px;
  }
}


@media (max-width: 1000px) {
  .header-top {
    flex-direction: column;
    height: 45px;
  }
  .header-logo {
    display: none;
  }
  .logo-empresa{
    display: none;
  }
  .logo-empresa-nav1{
    margin-top: -150px;
    }
  .header-paragraph {
    display: none;
  }

  .header-small-logo {
    display: block;
  }
  nav a {
    color: white; /* Ajustado para usar la variable de color */
    margin-right: 8px;
  }
  nav a:hover {
    color: #F3DFA2; /* Ajustado para usar la variable de color */
    margin-right: 8px;
  }
  .intranet-text {
    font-weight: bold;
    font-size: 1.5em;
  }

  .links-container {
   
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    height: 100%;
    background-color: #691B31;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 20px;
    top: 10px;
    left: 10px;
    z-index: 11;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  nav a{
    color: white;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  #sidebar-active:checked ~ .links-container {
    right: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
  }



  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .open-sidebar-button {
    color: black;
  }

  .close-sidebar-button {
    color: #F3DFA2;
  }
  p{
    display: none;
  }
/*  .user-info {
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
  }     */
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #691B31;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu .dropdown-item {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #891B31;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1000px) {
  .dropdown-menu {
    /* Limit the height */
    overflow-y: auto; /* Enable scrolling */
    position: static; /* Ensure it stays within the flow of the document */
    width: 100%; /* Ensure it takes the full width of the container */
    margin-top: 10px; /* Add a little space above */
  }
}
.btn{
  background-color: transparent;
  color: white;
  border: transparent;
}
.btn:hover{
  color: #BC955B;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 350px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-header {
 background-image: radial-gradient(at 74.43565540128682% 5.371052866330173%, hsla(177.0810810810811, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(177.0810810810811, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 25.384380438685493% 24.82466771039389%, hsla(207.24324324324326, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(207.24324324324326, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 61.65614433557034% 66.70195741207891%, hsla(237.0810810810811, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(237.0810810810811, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 53.31079179636087% 94.83043461586777%, hsla(177.0810810810811, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(177.0810810810811, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 18.619029676376698% 77.11113535567722%, hsla(207.24324324324326, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(207.24324324324326, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 12.939265279533775% 76.10755087779779%, hsla(237.0810810810811, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(237.0810810810811, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 32.23486538921898% 70.43990713260524%, hsla(177.0810810810811, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(177.0810810810811, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 4.292287958516083% 2.6974167981835384%, hsla(207.24324324324326, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(207.24324324324326, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 47.464391747017245% 0.6909572077191672%, hsla(237.0810810810811, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(237.0810810810811, 92.03980099502488%, 39.411764705882355%, 0) 100%), radial-gradient(at 10.65618095785441% 18.38081652702026%, hsla(177.0810810810811, 92.03980099502488%, 39.411764705882355%, 1) 0%, hsla(177.0810810810811, 92.03980099502488%, 39.411764705882355%, 0) 100%);
  height: 120px; /* Altura del fondo de portada */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}

.modal-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  bottom: 8px; /* Coloca el avatar en el fondo de portada */
}

.modal-content {
  text-align: center;
  padding-top: 10px; /* Añade espacio superior para el avatar */
}

.modal-content h2 {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
}

.modal-content h3 {
  margin: 5px 0;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.modal-content .info-section {
  margin: 10px 0;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.info-grid div {
  text-align: center;
}

.info-grid div span {
  display: block;
  font-weight: bold;
}
