

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12pt;
  font-family:Arial;
}

.invent {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
}
nav a:hover{
  color: #691B31;
}
nav a i:hover {
  color: #691B31; /* Ajustado para usar la variable de color */
  margin-right: 8px;
}
nav {
  background-color: #691B31;
  color: white;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Ajustado para centrar correctamente */
  align-items: center;
  padding: 4px;
  position: relative;
}

.header-logo {
  width: 150px;
  height: 75px;
}

.header-bottom {
  background: linear-gradient(to right, white, #BC955B);
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 auto;
}

nav a {
  color: black; /* Ajustado para usar la variable de color */
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

nav a i {
  color: black; /* Ajustado para usar la variable de color */
  margin-right: 8px;
}



#sidebar-active {
  display: none;
}

.logo p {
  font-size: 0.8rem;
  margin: 0;
  color: #ccc;
}

/* Estilo para la información del usuario */
.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-info p {
  margin: 0;
  font-size: 0.8rem;
  color: #ccc;
}

@media (max-width: 1000px) {
  .header-top {
    flex-direction: column;
  }

  .header-logo {
    display: none;
  }

  .header-paragraph {
    display: none;
  }

  .header-small-logo {
    display: block;
  }
  nav a i {
    color: white; /* Ajustado para usar la variable de color */
    margin-right: 8px;
  }
  
  .intranet-text {
    font-weight: bold;
    font-size: 1.5em;
  }

  .links-container {
   
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    height: 100%;
    background-color: #691B31;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 20px;
    top: 10px;
    left: 10px;
    z-index: 11;
  }

  nav a{
    color: white;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .open-sidebar-button {
    color: black;
  }

  .close-sidebar-button {
    color: #F3DFA2;
  }
}