/* Header.css */
/* Estilo para el navbar */
.navbar {
  background-color: #691B31;
  color: white;
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center;
  padding: 1rem;
}

/* Estilo para el contenedor del logo y la información del usuario */
.logo-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; /* Centramos el contenido horizontalmente */
}

/* Estilo para el logo */
.logo {
  text-align: center;
  flex: 1;
}

.logo h1 {
  font-size: 1.5rem;
  margin: 0;
}

.logo p {
  font-size: 0.8rem;
  margin: 0;
  color: #ccc;
}

/* Estilo para la información del usuario */
.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-info p {
  margin: 0;
  font-size: 0.8rem;
  color: #ccc;
}

/* Estilo para los enlaces de navegación */
.nav-links ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin-right: 1rem;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}



/* Estilo para los enlaces de navegación */
.nav-links ul {
  background-color: #BC955B;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin-right: 1rem;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}
