@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
/* font-family: "Bebas Neue", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Poppins', sans-serif; */



/* Estilo para el contenedor principal */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(at 31.664175714488387% 60.695074745041055%, hsla(207.16981132075472, 71.6216216216216%, 70.98039215686273%, 1) 0%, hsla(207.16981132075472, 71.6216216216216%, 70.98039215686273%, 0) 100%), radial-gradient(at 5.022180727951042% 3.1912018041176937%, hsla(265.2, 90.90909090909092%, 78.43137254901961%, 1) 0%, hsla(265.2, 90.90909090909092%, 78.43137254901961%, 0) 100%), radial-gradient(at 29.062494414551843% 55.35431973231275%, hsla(351.28205128205127, 100%, 77.05882352941175%, 1) 0%, hsla(351.28205128205127, 100%, 77.05882352941175%, 0) 100%), radial-gradient(at 9.401421041608149% 22.69125754752055%, hsla(39.130434782608695, 68.04733727810651%, 66.86274509803923%, 1) 0%, hsla(39.130434782608695, 68.04733727810651%, 66.86274509803923%, 0) 100%), radial-gradient(at 53.14514626565521% 82.83729560123858%, hsla(117.16981132075472, 71.6216216216216%, 70.98039215686273%, 1) 0%, hsla(117.16981132075472, 71.6216216216216%, 70.98039215686273%, 0) 100%), radial-gradient(at 13.992954815075564% 79.21376212372542%, hsla(207.16981132075472, 71.6216216216216%, 70.98039215686273%, 1) 0%, hsla(207.16981132075472, 71.6216216216216%, 70.98039215686273%, 0) 100%), radial-gradient(at 85.07041760976652% 42.15866485874431%, hsla(265.2, 90.90909090909092%, 78.43137254901961%, 1) 0%, hsla(265.2, 90.90909090909092%, 78.43137254901961%, 0) 100%), radial-gradient(at 60.28655279997501% 96.73133166971333%, hsla(351.28205128205127, 100%, 77.05882352941175%, 1) 0%, hsla(351.28205128205127, 100%, 77.05882352941175%, 0) 100%), radial-gradient(at 40.46961252309684% 24.105473892288963%, hsla(39.130434782608695, 68.04733727810651%, 66.86274509803923%, 1) 0%, hsla(39.130434782608695, 68.04733727810651%, 66.86274509803923%, 0) 100%), radial-gradient(at 21.025049420859034% 44.61631642302131%, hsla(117.16981132075472, 71.6216216216216%, 70.98039215686273%, 1) 0%, hsla(117.16981132075472, 71.6216216216216%, 70.98039215686273%, 0) 100%), radial-gradient(at 7.611191619018509% 95.91275097432712%, hsla(207.16981132075472, 71.6216216216216%, 70.98039215686273%, 1) 0%, hsla(207.16981132075472, 71.6216216216216%, 70.98039215686273%, 0) 100%), radial-gradient(at 34.12294551093049% 31.984848987074077%, hsla(265.2, 90.90909090909092%, 78.43137254901961%, 1) 0%, hsla(265.2, 90.90909090909092%, 78.43137254901961%, 0) 100%);  background-size: cover;
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  background-attachment: fixed; /* Hace que la imagen de fondo permanezca fija en su lugar */
  background-position: center;
  text-align: center;
  padding: 20px; /* Espaciado interno */
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
h2{
  color: #253238;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}


/* Estilo para el encabezado h3 */
.home-container h4 {
  font-size: 4rem; /* Tamaño de fuente para el h3 */
  margin: 0px 0; /* Margen superior e inferior de 20px, sin margen a los lados */
  font-family: "Bebas Neue", sans-serif;
  color: #253238;
}

/* Estilo para las columnas */
.home-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
  gap: 10px; /* Espacio entre las columnas */
  width: 100%;
  max-width: 1200px; /* Ancho máximo para las columnas */
  flex-wrap: wrap; /* Permite que las columnas se envuelvan para mejor responsividad */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Estilo para cada columna */
.home-column {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre las tarjetas dentro de una columna */
  flex: 1;
  min-width: 300px; /* Ancho mínimo para las columnas */
  max-width: 300px; /* Ancho máximo de las columnas */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Estilo para las tarjetas (cards) */
.home-card {
  text-decoration: none; /* Quita la decoración de enlace */
  display: flex;
  flex: 1;
  max-width: 300px; /* Ancho máximo de las tarjetas */
  height: 200px; /* Altura fija de las tarjetas */
  margin: 10px; /* Margen para separar las tarjetas */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.home-cards {
  text-decoration: none; /* Quita la decoración de enlace */
  display: flex;
  flex: 1;
  width: 500px; /* Ancho máximo de las tarjetas */
  height: 200px; /* Altura fija de las tarjetas */
  margin: 10px; /* Margen para separar las tarjetas */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* Estilo específico para las columnas */
.home-column-left .home-content {
  justify-content: flex-start;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.home-column-left .home-contents {
  justify-content: flex-start;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}


.home-column-right .home-content {
  justify-content: flex-end;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.home-column-right .home-contents {
  justify-content: flex-end;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.home-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
  height: 100%; /* Asegura que la tarjeta ocupe toda la altura disponible */
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.home-contents {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
  height: 100%; /* Asegura que la tarjeta ocupe toda la altura disponible */
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.Material-H1{
  color: #253238;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
}
.home-contentss {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 65px;
  width: 117%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
  height: 90%; /* Asegura que la tarjeta ocupe toda la altura disponible */
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: -310px; /* Ajusta este valor según sea necesario */
}

.home-content:hover {
  transform: translateY(-5px); /* Levanta ligeramente la tarjeta al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
}
.home-contents:hover {
  transform: translateY(-5px); /* Levanta ligeramente la tarjeta al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
}
.home-contentss:hover {
  transform: translateY(-5px); /* Levanta ligeramente la tarjeta al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
}


/* Estilo para el encabezado */
.home-content h1, .home-content h2 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;

}
.home-contents h1, .home-contents h2 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;

}



.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-container p {
  margin-top: 20px;
  font-size: 30px;
  color: #891B31;
}






/* Responsividad */
@media (max-width: 768px) {
  .home-container {
    padding: 10px;
  }

  .home-container h3 {
    font-size: 1.5rem;
  }

  .home-columns {
    flex-direction: column;
    align-items: center;
  }

  .home-column {
    max-width: none;
    width: 100%;
  }

  .home-card {
    max-width: 100%;
    height: auto;
  }
  .home-cards {
    max-width: 100%;
    height: auto;
  }
  
  .home-content{
    
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px; /* Haciendo los elementos cuadrados */
    margin: 0 auto; /* Centrar los elementos */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    
  }
  .home-contents{
    
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px; /* Haciendo los elementos cuadrados */
    margin: 0 auto; /* Centrar los elementos */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    
  }
  .home-contentss{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px; /* Haciendo los elementos cuadrados */
    margin: 0 auto; /* Centrar los elementos */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    
  }
  /* Estilo específico para las columnas */
.home-column-left .home-content {
  justify-content: flex-start;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.home-column-left .home-contents {
  justify-content: flex-start;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.home-column-left .home-contentss {
  justify-content: flex-start;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.home-column-right .home-content {
  justify-content: flex-end;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.home-column-right .home-contents {
  justify-content: flex-end;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.home-column-right .home-contentss {
  justify-content: flex-end;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.Material-H1{
  font-size: 25px;
}
}

