/* ModalSalir.css */
.mo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeInOverlay 0.5s ease-in-out forwards;
  }
  

  @keyframes fadeInOverlay {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .mo-content {
    background-color: rgba(255, 255, 255, 0.986);
    padding: 50px;
    border-radius: 35px;
    text-align: center;
  }
  
  .mo-content h2 {
    margin-bottom: 20px;
  }
  
  .mo-content button {
    margin: 10px;
    padding: 11px 38px;
    border: none;
    background-color: #691b31;
    color: white;
    border-radius: 19px;
    cursor: pointer;
  }
  
  .mo-content button:hover {
    background-color: rgb(224, 192, 7);
  }
  