@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.policy-container {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.policy-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.policy-search {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 350px;
  border: 1px solid #ccc;
  border-radius: 55px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.policy-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.policy-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.policy-header div {
  background-color: #691B31;
  font-weight: bold;
  color: #ffffff !important; /* Forzamos el color blanco */
  flex: 1;
  padding: 10px;
  text-align: center;
}

.policy-row div {
  flex: 1;
  padding: 10px;
  text-align: center;
  color: #333;
}

.policy-row:nth-child(even) {
  background-color: #f2f2f2;
}

.policy-row:nth-child(odd) {
  background-color: #ffffff;
}

.policy-row:hover {
  background-color: #e0e0e0;
}

.policy-footer {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.policy-view-more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* Cambia el color del texto */
  background-color: #691B31; /* Cambia el color de fondo */
  border: none;
  border-radius: 5px;
  text-decoration: none; /* Quita el subrayado del enlace */
  text-align: center;
  transition: background-color 0.3s, transform 0.2s; /* Añade transiciones suaves */
}

.policy-view-more:hover {
  background-color: #BC955B; /* Cambia el color de fondo al pasar el ratón */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}
