.stock-entry-custom-container {
    width: 100%;
    padding: 20px;
    overflow-x: auto;
}

.stock-entry-custom-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.input {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .input:focus {
    border-color: #BC955B;
    box-shadow: 0 0 10px rgba(188, 149, 91, 0.2);
    outline: none;
  }
  
  .input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
.stock-entry-custom-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stock-entry-custom-table th {
    background-color: #680728;
    color: white;
    padding: 10px;
    text-align: left;
}

.stock-entry-custom-table td {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
}

.stock-entry-custom-row-even {
    background-color: #f8f8f8;
}

.stock-entry-custom-row-odd {
    background-color: #eeeeee;
}

.stock-entry-custom-row-highlight {
    background-color: #c8a86b;
}

.stock-entry-custom-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.stock-entry-custom-button {
    padding: 5px 10px;
    background-color: #680728;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.botones {
    display: inline-block;
    background-color: #691B31;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.botones:hover {
    background-color: #480519;
}

@media (max-width: 768px) {
    .stock-entry-custom-table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .stock-entry-custom-table thead {
        display: none;
    }

    .stock-entry-custom-table tbody,
    .stock-entry-custom-table tr {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .stock-entry-custom-table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center; /* Centra el texto horizontalmente */
        border: 1px solid #ccc;
        position: relative;
    }

    .stock-entry-custom-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        top: 10px;
        width: 45%;
        font-weight: bold;
        text-align: left;
    }
}
