.custom-table-container {
    width: 100%;
    overflow-x: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

/* Estilo del input de búsqueda */
.custom-search-input {
    padding: 10px 15px;  /* Añadido más padding horizontal para mejor usabilidad */
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;  /* Ajuste al 100% del contenedor padre para mejor responsividad */
    max-width: 400px;  /* Limite de ancho máximo para mantener consistencia */
    border-radius: 25px;  /* Redondeado más suave */
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Añadido sombra para profundidad */
    transition: border-color 0.3s, box-shadow 0.3s;  /* Suavizar transición */
}

/* Tabla de estilo personalizado */
.custom-style-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    table-layout: auto; /* Dejar que las celdas se ajusten automáticamente */
    margin: 0 auto;
}

.custom-style-table thead {
    background-color: #5d0b16;
    color: white;
}

.custom-style-table th,
.custom-style-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-wrap: break-word; /* Esto ayuda a que el contenido se ajuste dentro de la celda */
}

.custom-style-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-style-table th {
    background-color: #691B31;
    color: white;
}

.custom-photo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.custom-style-table tbody tr:hover {
    background-color: #ddd;
}

/* Medias queries para ajuste responsivo */
@media (min-width: 537px) and (max-width: 768px) {
    .custom-style-table td {
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 537px) {
    .custom-style-table td {
        width: auto;
    }
}

@media (min-width: 430px) and (max-width: 932px) {
    .custom-style-table td {
        width: auto;
    }
}

@media (min-width: 357px) and (max-width: 667px) {
    .custom-style-table td {
        width: auto;
    }

    .custom-style-table th {
        width: auto;
    }
}
